# Syntax

In [ ]:
class ClassName:
    ## Can contains python statements
    lst_A = list()
    
    def fun_A():
        return None
    
    def fun_B():
        return 0
    
    def fun_C():
        return True

# Simple Blank Class

In [3]:
class ClassA:
    pass

## Instantiation

In [5]:
## Create a new instance of the class and
## assigns this objects to local variable e1 
a1 = ClassA()
a2 = ClassA()

In [8]:
a1.name = 'Harry'
a2.name = 'Ron'
a1.hobby = 'Quidditch'
a2.family = 'Magic'

In [12]:
a1.family

AttributeError: 'ClassA' object has no attribute 'family'

# Classes with attributes

In [39]:
class ClassB:    
    company = 'XYZ'


    def funcA():
        '''
            Calling this function by the instance object throws an error\n
            because self is not passed
            
        '''
        print('Instance object calling funcA')
    
    def funcB(self): 
        '''
            This function contains self argument. 
            Hence an instance object of ClassB can call this function
            
        '''
        print('Instance object calling funcB')

# Instance Objects
<html>
    <ul>
        <li> Data Attributes
        <li> Methods
    
</html>

In [40]:
## Instantiation
b1 = ClassB()
b2 = ClassB()

In [45]:
b2.__class__.funcA()

Instance object calling funcA

In [35]:
b2.__class__.funcA()

Instance object calling funcA

## Data Attributes

In [24]:
b1.shape = 'polygon'
b1.name = 'pentagon'

b2.geometry = 'square'
b2.property = 'All sides are equal'

## Methods

In [ ]:
b1.funcB()

In [ ]:
b1.funcA()

# Class constructors

In [59]:
class Rectangle:
    
    def __init__(self,x_value,y_value):
        self.x = x_value
        self.y = y_value
    
    def area(self):
        return self.x*self.y
    
    def perimeter(self):
        return self.x+self.y

In [49]:
param1 = 2
param2 = 4
id(param1),id(param2)

(94281443754784, 94281443754848)

In [60]:

shape1 = Rectangle(param1,param2)
id(shape1.x),id(shape1.y)
shape1.x

2

In [61]:
shape2 = Rectangle(4,5)
id(shape2.x),id(shape2.y)

(94281443754848, 94281443754880)

In [62]:
print(shape1.area())
print(shape2.area())

8
20

# Class and Instance Variables

In [63]:
class Car:
    wheels = 4 ## Class variable shared by all instances 
    def __init__(self,model):
        self.model = model
        self.features = list() #instance variable unique to each instance
        
    def add_features(self,*args):
        for feature in args:
            self.features.append(feature)

In [64]:
maruti = Car('Celerio')
hyundai = Car('Santro')
hyundai.add_features('Power Steering','Low Engine Noise')
maruti.add_features('A/C','Fuel Economy')

In [65]:
print('maruti object\n special features-->{0},\n common feature -->{1}'.format(maruti.features,maruti.wheels))
print('hyundai object\n special features-->{0},\n common feature -->{1}'.format(hyundai.features,hyundai.wheels))

maruti object
 special features-->['A/C', 'Fuel Economy'],
 common feature -->4
hyundai object
 special features-->['Power Steering', 'Low Engine Noise'],
 common feature -->4

# In Class Assignment 1
<html>
    <p style="color:Tomato;"> Create a class with a name Student.</p>
        <ul>
            <li><p style="color:DodgerBlue;"> Create a class variable and name it as College. Assign it to the string 'AMC'/'APSCE'
                <li> <p style="color:DodgerBlue;">Create the following instance variables</p>
                <ul>
                    <li> <p style="color:Violet;">instance variable 'name'</p>
                    <li> <p style="color:Violet;">instance variable 'USN'</p>
                </ul>
            <li> <p style="color:DodgerBlue;">Create the instance variable inside the contructor/Initializer</p>
            <li> <p style="color:DodgerBlue;">Create a function named 'stu_details'.
                Inside the function, print the following details of a particular employee instance</p>
                <ul>
                    <li> <p style="color:Violet;"> Student ID </p>
                    <li> <p style="color:Violet;"> Student Name </p>
                    <li> <p style="color:Violet;">College Name</p>                    
    </ul>

In [14]:
class Student:
    # college = 'APSCE'

    def __init__(self,student_name,student_usn):
        self.name = student_name
        self.usn = student_usn
        self.college = 'APSCE'

    def student_details(self):
        print(f'Student ID : {self.usn} \n Student Name : {self.name} \n College Name: {self.college}')
        # print('Student ID : {0} \n Student Name : {1} \n College Name: {2}'.format(
        #     self.usn,self.name,self.college))

In [15]:
student1 = Student('Chetan','1AP03EC017')
student2 = Student('Akram','1AM14EC065')
# student1.student_details()

In [16]:
student2.student_details()

Student ID : 1AM14EC065
 Student Name : Akram
 College Name: APSCE

In [9]:
student1

In [10]:
lst_one = list([1,2,3,4])
lst_one

[1, 2, 3, 4]

In [113]:
student2.student_details()
student2.college = 'AMCEC'
student2.student_details()
student1.student_details()

Student ID : 1AM14EC065
 Student Name : Akram
 College Name: APSCE
Student ID : 1AM14EC065
 Student Name : Akram
 College Name: AMCEC
Student ID : 1AP03EC017
 Student Name : Chetan
 College Name: APSCE

In [114]:
student1.college

'APSCE'

In [116]:
print(student1)

<__main__.Student object at 0x7f0678fe9750>

In [118]:
print(lst1)

[1, 2, 3, 4]

In [120]:
# student1 +student2
lst_1 +lst_1

[1, 2, 3, 4, 1, 2, 3, 4]

## 5 min duration

import time
time.sleep(5*60)

In [1]:
class Student:

    def __init__(self,student_name,student_usn,college_name):
        self.name = student_name
        self.usn = student_usn
        self.college = college_name

    def student_details(self):
        print(f'Student ID : {self.usn} \n Student Name : {self.name} \n College Name: {self.college}')
        # print('Student ID : {0} \n Student Name : {1} \n College Name: {2}'.format(
        #     self.usn,self.name,self.college))

In [12]:
class College:

    def __init__(self,name):
        self.name = name
        self.students = list()
    
    def add_students(self,*student_objs):
        for student in student_objs:
            if student.college == self.name:
                self.students.append(student)
            else:
                print(f'Student {student.name} cannot be added to this college database')
    
    def display_students(self):
        for student in self.students:
            print(f'Student ID : {student.usn} \n Student Name : {student.name} \n College Name: {student.college}')

In [13]:
college1 = College('AMCEC')
college2 = College('APSCE')

student1 = Student('Chetan','1AP03EC017','APSCE')
student2 = Student('Akram','1AM14EC065','AMCEC')
student3 = Student('Bruhanth','1AM03EC011','APSCE')
student4 = Student('Shabbir','1AM14EC068','AMCEC')

In [14]:
college1.add_students(student1,student2,student3,student4)

Student Chetan cannot be added to this college database
Student Bruhanth cannot be added to this college database

In [15]:
college2.add_students(student1,student2,student3,student4)

Student Akram cannot be added to this college database
Student Shabbir cannot be added to this college database

In [16]:
college2.students

In [18]:
college1.display_students()

Student ID : 1AM14EC065
 Student Name : Akram
 College Name: AMCEC
Student ID : 1AM14EC068
 Student Name : Shabbir
 College Name: AMCEC

In [16]:
def add_num(x,y=0,z=0):
    print(f'x:{x}\ny:{y}\nz:{z}')
    return x+y+z

In [31]:
add_num(y=4,z=2,x=6)

x:6
y:4
z:2

12

In [27]:
print('hello ',end='\t')
print('world',end = ' ')
print('python')

hello 	world python

In [3]:
add_num(1,2,4,5)

TypeError: add_num() takes 2 positional arguments but 4 were given

In [36]:
def add_num_d(*num):
    return sum(num)

In [37]:
add_num_d(1,2,3,4,5,6)

21

In [40]:
def add_num_k(**kwargs):
    print(kwargs)

In [41]:
add_num_k(x=5,y=6,z=7)

{'x': 5, 'y': 6, 'z': 7}

In [42]:
import matplotlib.pyplot as plt

In [44]:
plt.plot?

In [45]:
import pandas as pd

/home/chetan/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [70]:
class College:
    def __init__(self,semester):
        self.semester = semester
        self.students = list()
        
    def fn_tbd(self):
        pass
        
    def add_student(self,student):
        self.students.append(student)

In [71]:
class Student:
    def __init__(self,st_id,st_name,st_branch):
        self.id = st_id
        self.name = st_name
        self.branch = st_branch
    
    def __repr__(self):
        return self.name

In [63]:
amc = College(4)

In [64]:
stu1 = Student('1AM15EC004','Aishwarya','ECE')
stu2 = Student('1AM15EC120','Sindhu','ECE')

In [65]:
amc.add_student(stu1)
amc.add_student(stu2)

In [66]:
amc.students

[Aishwarya, Sindhu]

In [69]:
amc.students[0].branch

'ECE'