College

* Students
* Faculty
* Curricullum

Student Idea
* Credentials
* Classroom
* Qualification

Faculty Idea
* Qualification
* Specialisation

Curriculum Idea
* Each Class/semester
* Student List
* faculty List

OOPs
* Inheritance
* Abstraction
* Encapsulation
* Polymorphism

Car

In [ ]:
student1 = ('Harry','Potter','ECE','65','78','60','87')
student2 = ('James','Potter','CSE','65','87','60','96')

In [ ]:

def agg(student):
    count = 0
    for mark in student[-1:-5:-1]:
        count += int(mark)    
    return count/4

In [ ]:
agg(student2),agg(student1)

In [ ]:
student2.agg

In [ ]:
class Student:
    
    def stu_input(self,name,*marks):
        self.candidate = {'Name':None,'Marks': list()}
        self.candidate['Name'] = name
        for mark in marks:
            self.candidate['Marks'].append(mark)        
        
    def agg(self):
        count = 0
        for mark in self.candidate['Marks']:
            count += int(mark)    
        return count/4

In [ ]:
student1 = Student()
student2 = Student()

In [ ]:
student1.stu_input('Harry',65,78,76)
student2.stu_input('Ron',76,98,45)

In [ ]:
student1.candidate['Marks']

In [ ]:
student2.candidate['Marks']

# Syntax

In [ ]:
class ClassName:
    ## Can contains python statements
    lst_A = list()
    
    def fun_A():
        return None
    
    def fun_B():
        return 0
    
    def fun_C():
        return True

# Simple Blank Class

In [2]:
class ClassA:
    pass

In [3]:
obj1 = ClassA()

In [5]:
obj1.name = 'A'
obj1.design = 'ahkaf;'

In [6]:
obj2 = ClassA()

In [7]:
obj2.id = '3798721'
obj2.make = 'class'

In [10]:
obj1.name,obj2.id

('A', '3798721')

In [11]:
lst_1 = list([1,2,4,55])
lst_2 = list([5,6,5969])

In [12]:
lst_1.append(35)

In [13]:
lst_2

[5, 6, 5969]

## Instantiation

In [14]:
## Create a new instance of the class and
## assigns this objects to local variable e1 
a1 = ClassA()
a2 = ClassA()

In [15]:
a1.name = 'Harry'
a2.name = 'Ron'
a1.hobby = 'Quidditch'
a2.family = 'Magic'

In [16]:
a1.family

AttributeError: 'ClassA' object has no attribute 'family'

# Classes with attributes

In [34]:
class ClassB:    
    company = 'XYZ'


    def funcA():
        '''
            Calling this function by the instance object throws an error\n
            because self is not passed
            
        '''
        print('Instance object calling funcA')
    
    def funcB(self): 
        '''
            This function contains self argument. 
            Hence an instance object of ClassB can call this function
            
        '''
        print('Instance object calling funcB')
        funcA()

In [35]:
b1 = ClassB()
b2 = ClassB()

In [36]:
b1.company,b2.company

('XYZ', 'XYZ')

In [37]:
b1.funcB()

Instance object calling funcB

NameError: name 'funcA' is not defined

In [24]:
b2.funcB()

Instance object calling funcB

In [25]:
b1.funcA()

TypeError: funcA() takes 0 positional arguments but 1 was given

In [68]:
class Car:
    leather_seats = False
    engine_repair = False
    def customise1(): 
        Car.engine_repair = True
        print('Customised to your requirement 1')
    def customise2(self):
        self.leather_seats = True
        print('Customised to your requirement 2')

In [69]:
ford_mine = Car()
ford_neig = Car()

In [70]:
ford_mine.customise2()

Customised to your requirement 2

In [71]:
ford_mine.leather_seats

True

In [72]:
ford_neig.leather_seats

False

In [73]:
ford_mine.__class__.customise1()

Customised to your requirement 1

In [74]:
ford_mine.__class__.engine_repair

True

In [75]:
ford_neig.__class__.engine_repair

True

# Instance Objects
<html>
    <ul>
        <li> Data Attributes
        <li> Methods
    
</html>

In [ ]:
## Instantiation
b1 = ClassB()
b2 = ClassB()

In [ ]:
b2.__class__.funcA()

In [ ]:
b2.__class__.funcA()

## Data Attributes

In [ ]:
b1.shape = 'polygon'
b1.name = 'pentagon'

b2.geometry = 'square'
b2.property = 'All sides are equal'

## Methods

In [ ]:
b1.funcB()

In [ ]:
b1.funcA()

In [76]:
lst_1 = list([1,2,4,5])

In [77]:
lst_1

[1, 2, 4, 5]

# Class constructors

In [78]:
class Rectangle:
    
    def __init__(self,x_value,y_value):
        self.x = x_value
        self.y = y_value
    
    def area(self):
        return self.x*self.y
    
    def perimeter(self):
        return self.x+self.y

In [79]:
shape1_obj = Rectangle(4,4)

In [81]:
shape1_obj.y

4

In [82]:
shape2_obj = Rectangle(5,6)
shape2_obj.x,shape2_obj.y

(5, 6)

In [84]:
shape1_obj.area(),shape2_obj.area()

(16, 30)

In [ ]:
param1 = 2
param2 = 4
id(param1),id(param2)

In [ ]:

shape1 = Rectangle(param1,param2)
id(shape1.x),id(shape1.y)
shape1.x

In [ ]:
shape2 = Rectangle(4,5)
id(shape2.x),id(shape2.y)

In [ ]:
print(shape1.area())
print(shape2.area())

# Class and Instance Variables

In [ ]:
class Car:
    wheels = 4 ## Class variable shared by all instances 
    def __init__(self,model):
        self.model = model
        self.features = list() #instance variable unique to each instance
        
    def add_features(self,*args):
        for feature in args:
            self.features.append(feature)

In [ ]:
maruti = Car('Celerio')
hyundai = Car('Santro')
hyundai.add_features('Power Steering','Low Engine Noise')
maruti.add_features('A/C','Fuel Economy')

In [ ]:
print('maruti object\n special features-->{0},\n common feature -->{1}'.format(maruti.features,maruti.wheels))
print('hyundai object\n special features-->{0},\n common feature -->{1}'.format(hyundai.features,hyundai.wheels))

# In Class Assignment 1
<html>
    <p style="color:Tomato;"> Create a class with a name Student.</p>
        <ul>
            <li><p style="color:DodgerBlue;"> Create a class variable and name it as College. Assign it to the string 'AMC'/'APSCE'
                <li> <p style="color:DodgerBlue;">Create the following instance variables</p>
                <ul>
                    <li> <p style="color:Violet;">instance variable 'name'</p>
                    <li> <p style="color:Violet;">instance variable 'USN'</p>
                </ul>
            <li> <p style="color:DodgerBlue;">Create the instance variable inside the contructor/Initializer</p>
            <li> <p style="color:DodgerBlue;">Create a function named 'stu_details'.
                Inside the function, print the following details of a particular employee instance</p>
                <ul>
                    <li> <p style="color:Violet;"> Student ID </p>
                    <li> <p style="color:Violet;"> Student Name </p>
                    <li> <p style="color:Violet;">College Name</p>                                    
    </ul> 
                <li> Create a function to calculate the grade of the student and should be able to access it </li>

In [110]:
class Student:
    college_name = 'AMC'
    
    def __init__(self,name,usn):
        self.name = name
        self.usn = usn
    
    def stu_details(self):
        print(f'Student Name:{self.name}\n Student ID:{self.usn}\
        \nCollege Name:{self.college_name}')
    
    def grade_student(self,grade_in):  
        self.grade_marks = grade_in
        if grade_in <=1.0 and grade_in >=0:
            if grade_in >= 0.9:
                print( 'Grade A')
            elif grade_in >= 0.8 :
                print( 'Grade B')
            elif grade_in >=0.7:
                print( 'Grade C')
            else:
                print('Grade not defined for the marks entered')
        else:
            print('Grades should be less than 1.0 and greater than 0')
        return grade_in
            
        
#     def __gt__(self,self1):
#         return self.grade_marks > self1.grade_marks
    
    def __repr__(self):
        return self.usn
    
    def __str__(self):
        return self.name

In [111]:
stud1 = Student('chetan','1AM10LEC07')
stud2 = Student('Ajay','1AM10CSE01')
stud3 = Student('Shilpa','1AM07ECE52')

stud2.grade_student(0.8)

stud1.grade_student(0.7)
stud3.grade_student(0.9)

Grade B
Grade C
Grade A

0.9

In [68]:
print(stud1),stud1

chetan

(None, 1AM10LEC07)

In [83]:
stud1.grade_marks,stud2.grade_marks

(0.7, 0.8)

In [84]:
stud1 < stud2

True

In [112]:
lst_students = [stud1,stud2,stud3]

In [114]:
sorted(lst_students,reverse=True)[0].stu_details()

Student Name:Shilpa
 Student ID:1AM07ECE52
College Name:AMC

In [88]:
lst_1.sort(reverse = True)

In [89]:
lst_1

[5, 3, 2, 1]

In [91]:
sorted(lst_1,reverse = False)

[1, 2, 3, 5]

In [71]:
x = 5
y = 7

In [73]:
x < y

True

In [74]:
str_1 = 'a'
str_2 = 'z'

In [79]:
str_2 > str_1

True

In [77]:
stud1 > stud2

TypeError: '>' not supported between instances of 'Student' and 'Student'