## Range function
* Immutable sequence of numbers

In [1]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

* Range with only stop parameter

In [2]:
set(range(10))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

* Range with start,stop and step parameters

In [4]:
list(range(5,50,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

In [5]:
list(range(5,50,5))

[5, 10, 15, 20, 25, 30, 35, 40, 45]

* Range with negative step

In [6]:
list(range(10,-10,-2))

[10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

## Numerical Datatype

* Print even numbers from 0 to 10

In [12]:
i = 0
while(i <= 10):
    if i%2 == 0:
        print('{} is an even number'.format(i))
    i +=1
else:
    print(f'{i} in else block')

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
11 in else block

In [8]:
for i in range(0,12):
    if i%2 == 0:
        print(f'{i} is an even number')

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number

In [13]:
for i in range(11):
    if i%2 == 0:
        print('{} is an even number'.format(i))
else:
    print(f'{i} in else condition')

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
10 in else condition

### Nested for loops to check for prime numbers

In [19]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x,'\t',n ,'is not a prime number')
#             print(f'{n} is not a prime number')
            break
    else:        
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2 	 4 is not a prime number
5 is a prime number
6 equals 2 * 3 	 6 is not a prime number
7 is a prime number
8 equals 2 * 4 	 8 is not a prime number
9 equals 3 * 3 	 9 is not a prime number

<html>
    <b> 1. Write a program to take list of integers and print the integers occurring two or more times.

In [20]:
lst_num = [1,2,3,4,5,5,6,3,7,8,8]
set_num = set(lst_num)
set_result = set()
for i in set_num:
    if lst_num.count(i) >=2:
        print(i)

3
5
8

## Strings

In [21]:
name_1 = 'Harry Potter'
name_2 = 'James Potter'

* Print the characters of the string

In [24]:
name_1[2]

'r'

In [22]:
for char in name_1:
    print(char)

H
a
r
r
y

P
o
t
t
e
r

In [ ]:
index = 0 
while(index < len(name_1)):
    print(name_1[index],end=' ')
    index = index + 1

In [ ]:
for char in name_1:
    print(char,end=' ')

* Using nested loops to find the characters which are present in other string

In [ ]:
for char_1 in name_1:
    if char_1 in name_2:
        print(char_1,end=' ')

## Lists

In [42]:
lst_num = list(range(10,20))
lst_num

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [50]:
lst_num[1::2]

[11, 13, 15, 17, 19]

In [46]:
list(enumerate(lst_num))

[(0, 10),
 (1, 11),
 (2, 12),
 (3, 13),
 (4, 14),
 (5, 15),
 (6, 16),
 (7, 17),
 (8, 18),
 (9, 19)]

In [44]:
dict(enumerate(lst_num))

{0: 10, 1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}

In [27]:
for num in lst_num:
    print(f'Square of {num} is {num**2}')
#     print('Square of {} is {}'.format(num,num**2))

Square of 10 is 100
Square of 11 is 121
Square of 12 is 144
Square of 13 is 169
Square of 14 is 196
Square of 15 is 225
Square of 16 is 256
Square of 17 is 289
Square of 18 is 324
Square of 19 is 361

<html>
    <b> 2. For the list given below, Identify and print the datatype of the objects into numerical or string
       <p> lst_mxd = ['python',1,2,3,4.56,(12,5)]

In [ ]:
lst_mxd = ['python',1,2,3,4.56,(12,5)]
for item in lst_mxd:
    if (type(item)==int) or (type(item) == float) :
        print('{} is a numerical datatype'.format(item))
    elif (isinstance(item,str)):
        print('{} is a string datatype'.format(item))
    else:
        print('{} :datatype unknown'.format(item))

## Dictionary

In [28]:
dict_cat_1 = {'fruits':'banana','colours':'orange','animals':'dog','tech':'C'}
dict_cat_1

{'fruits': 'banana', 'colours': 'orange', 'animals': 'dog', 'tech': 'C'}

In [31]:
print(dict_cat_1.items(),dict_cat_1.keys(),dict_cat_1.values())

dict_items([('fruits', 'banana'), ('colours', 'orange'), ('animals', 'dog'), ('tech', 'C')]) dict_keys(['fruits', 'colours', 'animals', 'tech']) dict_values(['banana', 'orange', 'dog', 'C'])

In [40]:
for key in dict_cat_1.keys():
    print(key)

fruits
colours
animals
tech

In [34]:
for value in dict_cat_1.values():
    print(value)

banana
orange
dog
C

In [35]:
dict_cat_1.items()

dict_items([('fruits', 'banana'), ('colours', 'orange'), ('animals', 'dog'), ('tech', 'C')])

In [41]:
for item in dict_cat_1.items():
    print(item)
    print(f'key:{item[0]},value :{item[1]}')

('fruits', 'banana')
key:fruits,value :banana
('colours', 'orange')
key:colours,value :orange
('animals', 'dog')
key:animals,value :dog
('tech', 'C')
key:tech,value :C

In [38]:
for key,value in dict_cat_1.items():
    print(f'key : {key},value : {value}')

key : fruits,value : banana
key : colours,value : orange
key : animals,value : dog
key : tech,value : C

In [ ]:
for item in dict_cat_1.items():
    print(item,type(item))

In [ ]:
dict_cat_2 = {'fruits':['banana','apple'],
              'colours':['orange','red'],
              'animals':['dog','cat'],
              'tech':['C','python']}

In [ ]:
for (key,value) in dict_cat_2.items():
    if key == 'fruits':
        value.append('grapes')
    elif key == 'colours':
        value.append('green')
    elif key == 'animals':
        value.append('Lion')
    elif key == 'tech':
        value.append('C++')

dict_cat_2

In [ ]:
dict_cat_3 = {'fruits':{'banana','apple'},
              'colours':{'orange','red'},
              'animals':{'dog','cat'},
              'tech':{'C','python'}}

In [ ]:
for (key,value) in dict_cat_3.items():
    if key == 'fruits':
        value.add('strawberry')
    elif key == 'colours':
        value.add('green')
    elif key == 'animals':
        value.add('Lion')
    elif key == 'tech':
        value.add('C++')

dict_cat_3

<html>
    <b> 3. Write a program to count the number of time each word occurs in the sentence given below </b>
    <p><i>str_words = 'She sells sea shells on the sea shore' </i>

In [ ]:
# %load loop_3.py
str_words = 'She sells sea shells on the sea shore   '
words_split = str_words.lower().split()
print(words_split)

In [ ]:
dict_count = {}
for word in words_split:
    dict_count[word] = dict_count.get(word,0) +1
    print(dict_count)
print(dict_count)

In [ ]:
dict_count_mod = {}
for word in words_split:
    if word not in dict_count_mod.keys():
        dict_count_mod[word] = 1
    else:
        dict_count_mod[word] = dict_count_mod[word] + 1
    print(dict_count_mod)